@{
    ViewData["Title"] = "Home Page";
}

<div class="handwriting-area">
    <h2>Handwriting Input</h2>
    <canvas id="handwritingCanvas" width="1300" height="550"></canvas>
    <br />
    <button onclick="clearCanvas()">Clear</button>
</div>
<script src="~/js/canvas.js"></script>